html, body, div, p, textarea, br, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

input:focus, textarea:focus {
    outline: 0;
    border: 0;
}

table, td, th {
    border: solid 1px #AAA;
    border-collapse: collapse;
}

html, body, #app, #notePane {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

button {
    border-radius: 4px;
    font-size: 14px;
    padding: 4px 20px;
    user-select: none;
}

input {
    font-size: 16px;
    border-radius: 4px;
}

[v-cloak] {
    display: none;
}

.execButton {
    background-color: #33A3A3;
    color: white;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

#mainArea {
    height: 100%;
}

#mainArea>div {
    float: left;
    height: 100%;
}

#mainMenu {
    -webkit-user-select: none;
    -webkit-app-region: drag;
    background-color: #131d13;
    width: 80px;
    padding-top: 30px;
    overflow: scroll;
}

.shortcut {
    border-radius: 10px;
    background-color: #33A3A3;
    border: solid 10px #33A3A3;
    color: white;
    word-break: break-all;
    margin: 10px;
    width: 60px;
    height: 60px;
    font-size: calc(40px / 3);
    overflow: hidden;
}

.shortcut:hover {
    cursor: pointer;
}

#contentPane {
    width: calc(100% - 80px);
    height: 100%;
}

#notePane>div {
    float: left;
    height: 100%;
    box-sizing: border-box;
}

#header {
    width: 100%;
    height: 40px;
}

#header>div {
    float: left;
    height: 40px;
}

#headerRight {
    width: culc(100% - 200px);
}

#footer>span {
    height: 20px;
    position: fixed;
    color: #AAA;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 16px;
    margin: 2px 5px 5px 0;
}

#footer #settingsArea {
    bottom: 0;
    left: 0;
    height: 15px;
    width: 80px;
}

#footer #settingsArea>img {
    cursor: pointer;
    height: 15px;
    margin-left: 5px;
}

#footer #footerMessage {
    float: right;
    bottom: 0;
    right: 0;
}

#notes {
    color: #999;
    width: 200px;
    float: left;
    overflow: scroll;
    user-select: none;
    background-color: #2c2e32;
}

#editorPane {
    width: calc(100% - 200px);
}

#noteListPane {
    width: 100%;
    height: calc(100% - 60px);
    overflow: scroll;
}

#editor {
    width: 100%;
    height: calc(100% - 60px);
    overflow: scroll;
}

#editor:first-child {
    border-right: 1px solid #DDD;
}

#editor input {
    border: 0;
    border-bottom: 1px solid #DDD;
}

#editor>div {
    width: 100%;
    height: 100%;
    /*float: left;*/
    box-sizing: border-box;
    transition: all 300ms 0s ease;
}

#editor input {
    width: 100%;
    height: 16px;
}

#editor textarea {
    width: 100%;
    height: 100%;
    resize: none;
}

#app, #editor:after {
    clear: both;
}

#marked {
    border-left: 1px solid #DDD;
    padding: 0 5px;
    word-wrap: break-word;
}

#marked * {
    font-size: 14px;
    line-height: 16px;
}

#marked br {
    line-height: 16px;
}

.tui-editor-contents img {
    width: calc(100%-10px);
    margin: 10px 5px;
}

.memobox {
    padding: 5px 5px 5px 5px;
    border-bottom: 1px solid #444;
    color: white;
    height: 50px;
}

.memobox:hover {
    cursor: pointer;
    color: #CFC;
}

.selected {
    border-left: 5px #33A3A3 solid;
}

.memoboxContent {
    font-size: 12px;
    color: #999;
}

#memoToolBox {
    height: 60px;
    text-align: right;
    vertical-align: middle;
    padding: 0 5px 0 5px;
    background-color: #FFF;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    border-bottom: solid 1px #DDD;
    display: grid;
    justify-content: center;
    align-items: center;
}

#editorTools {
    width: 100%;
    height: 60px;
    background-color: #FFF;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    border-bottom: solid 1px #DDD;
    padding-top: 18px;
    align-items: center;
}

#editorTools i {
    float: right;
    margin-right: 10px;
}

#editorTools #newNoteButton {
    cursor: pointer;
    opacity: 0.3;
}

i {
    cursor: pointer;
}

#editorTools #synceButton {
    cursor: pointer;
    opacity: 0.3;
}

#editorTools #synceButton.syncing {
    animation: spin 1.5s linear infinite;
    opacity: 1.0;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.memoboxTitle {
    overflow: hidden;
    text-overflow: ellipsis;
}

.memoboxTitle div, .memoboxTitle img {
    float: left;
    box-sizing: border-box;
}

.memoboxTitle img {
    height: 16px;
    margin-right: 5px;
}

.memoboxTitle div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.memoboxTitle .width100-16-7 {
    width: calc(100% - 16px - 7px);
}

.memoboxTitle .width100 {
    width: 100%;
}

.memoboxContent {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#searchInput {
    color: #CCC;
    width: 160px;
    border: 0;
    margin: 0;
}

#searchInput {
    background-image: url(../image/icoon-search.svg);
    background-size: 20px 20px;
    background-position: 0 13px;
    background-repeat: no-repeat;
    text-indent: 20px;
}

#searchInput:focus {
    background-image: none;
}

#searchInput::placeholder {
    color: #DDD;
}

#showMarkdownSwitch {
    vertical-align: middle;
}

#editor>div.full {
    width: 100%;
    transition: all 300ms 0s ease;
}

#editor>div.hide {
    width: 0;
    transition: all 300ms 0s ease;
}

.contextMenu {
    width: auto;
    height: auto;
    z-index: 9999;
    position: fixed;
    background-color: #CCC;
    border-radius: 3px;
    border: 1px solid #666;
    color: #666;
    /* width: 200px;*/
    padding: 5px 10px;
}

.contextMenu ol {
    margin: 0;
    padding: 0;
}

.contextMenu li {
    list-style: none;
    margin: 5px 0;
}

.contextMenu li:hover {
    color: #FFF;
    cursor: pointer;
}

/* setting */

.displayTitle {
    height: 60px;
    padding: 5px;
    font-size: 18px;
    background-color: white;
    color: #CCC;
    display: grid;
    justify-content: left;
    align-items: center;
    vertical-align: middle;
    margin-left: 10px;
    margin-top: 5px;
}

#settingContent H2 {
    font-size: 20px;
    margin-left: 10px;
}

.settingBlock {
    margin: 2px 10px 10px 10px;
    padding: 10px;
    background-color: #F6F6F6;
    border-radius: 10px;
}

.settingBlock input[type=text], .settingBlock input[type=email], .settingBlock input[type=password] {
    background-color: white;
    border-radius: 10px;
    padding-left: 10px;
    margin: 5px 10px 0px 0px;
    width: calc(100% - 10px);
}

/* codemirror */

.cm-s-default .cm-header {
    color: black;
}

.cm-s-default .cm-quote {
    color: black;
}

.te-toolbar-section .te-tab {
    display: none;
}

/** switch **/

.switch {
    height: 22px;
}

.switch .lever {
    width: 22px;
    height: 22px;
}

.switch label {
    font-size: .9rem;
}

.switch label .lever {
    width: 18px;
    height: 4px;
    margin: 0;
}

.switch label .lever:before, .switch label .lever::after {
    width: 10px;
    height: 10px;
}

.switch label input[type=checkbox]:checked+.lever:before, .switch label input[type=checkbox]:checked+.lever:after {
    left: 10px;
}

/* one note */

#oneNoteTitleBar {
    -webkit-user-select: none;
    -webkit-app-region: drag;
    background-color: #131d13;
    line-height: 40px;
    height: 40px;
}