<div id="footer" class="clearfix">
    <span id="settingsArea">
        <img id="settingButton" src="../image/icoon-setting.svg" @click="$emit('open-setting')" />
        <img id="licenseButton" src="../image/icoon-license.svg" @click="$emit('open-license')" />
    </span>
    <span id="footerMessage">&gt; {{message}}
        <img v-if="showProgress" id="progressIcon" src="../image/progress.gif">
    </span>
</div>