<!DOCTYPE html>
<meta charset="UTF-8">
<title>Whale memo</title>
<script src="../../node_modules/vue/dist/vue.min.js"></script>
<script src="../../node_modules/vue/dist/vue.runtime.common.prod.js"></script>
<script src="../../node_modules/marked/marked.min.js"></script>
<link rel="stylesheet" type="text/css" href="../css/modal.css">
<link rel="stylesheet" type="text/css" href="../vender/materialize/css/materialize.min.css">
<script src="../vender/materialize/js/materialize.min.js"></script>
<link rel="stylesheet" type="text/css" href="../vender/tui-editor/dist/tui-editor.css">
<link rel="stylesheet" type="text/css" href="../vender/tui-editor/dist/tui-editor-contents.css">
<link rel="stylesheet" type="text/css" href="../vender/codemirror/codemirror.css">
<link rel="stylesheet" href="../vender/highlight/styles/github.css">
<script src="../vender/highlight/highlight.pack.js"></script>

<body>
    <div id="app" v-cloak>
        <div id="mainArea" class="clearfix">
            <div id="mainMenu" @dragover.prevent @drop="dropped()">
                <div v-if="shortcuts" v-for="shortcut in shortcuts">
                    <div class="shortcut" @click.right="openShortcutContext($event, shortcut)" draggable="true"
                        @dragstart="shortcutDragStart(shortcut)" @dragover="$event.target.style.opacity = 0.5"
                        @dragleave="$event.target.style.opacity = 1.0" @dragover.prevent
                        @drop="shrotcutDropped(shortcut)" @click="shortcutSelected(shortcut)" v-if="shortcut" v-cloak>
                        {{toIconContent(shortcut.content)}}</div>
                    <div v-if="shortcut" :id="'shortcutContextMenu'+shortcut.id" class="contextMenu"
                        style="display:none" @mouseleave="hideShortcutContextMenu(shortcut)">
                        <ol>
                            <li @click="removeShortcut(shortcut)">Remove</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div id="contentPane">
                <note v-if="showDisplay == 1"></note>
                <setting v-if="showDisplay == 2" @onclose="showDisplay = 1"></setting>
                <license v-if="showDisplay == 3" @onclose="showDisplay = 1"></license>
            </div>
        </div>
        <app-footer :message="footer.message" :show-progress="footer.showProgress"
            @open-setting="showDisplay = (showDisplay == 2 ? 1 : 2)"
            @open-license="showDisplay = (showDisplay == 3 ? 1 : 3)">
        </app-footer>
        <modal v-if="showModal" @ok="modalMessage.exec($event)" @cancel="showModal = false" :title="modalMessage.title"
            :body="modalMessage.body" :footer="modalMessage.footer" :show-input="modalMessage.showInput"
            :input-value="modalMessage.inputValue"></modal>
    </div>
    <script src="../js/fitMarkdownToTextarea.js"></script>
    <script src="../js/util.js"></script>
    <script src="../js/sync.js"></script>
    <script src="../js/components.js"></script>

    <link rel="stylesheet" type="text/css" href="../css/materialize.icon.css">
    <link rel="stylesheet" type="text/css" href="../css/app.css">
</body>