<div style="height:100%">
    <div class="displayTitle">
        <span>License</span>
    </div>
    <div style="height:100%;overflow: scroll;padding:10px">
        <pre>{{licenseText}}</pre>
    </div>
</div>