<transition name="modal">
    <div class="modal-mask">
        <div class="modal-wrapper">
            <div class="modal-container">
                <div class="modal-header">
                    <h3 name="header">
                        {{title}}
                    </h3>
                </div>

                <div class="modal-body">
                    <slot name="body">
                        {{body}}
                    </slot>
                </div>
                <div v-if="showInput" style="text-align:center;margin-bottom:10px">
                    <input type="text" v-model="inputValue" placeholder="Code" />
                </div>
                <div class="modal-footer" class="clearfix">
                    <slot name="footer">
                        {{footer}}
                        <button class="modal-ok-button execButton" @click="$emit('ok', inputValue)">
                            OK
                        </button>
                        <button class="modal-default-button" @click="$emit('cancel')">
                            cancel
                        </button>
                    </slot>
                </div>
            </div>
        </div>
    </div>
</transition>