<div id="notePane" class="clearfix" @keyup.ctrl.78="newNote()" @keyup.meta.78="newNote()" @keyup.ctrl.83="save"
    @keyup.meta.83="save">
    <div id="notes">
        <div id="memoToolBox">
            <div>
                <input type="text" id="searchInput" v-model="searchText" />
            </div>
        </div>
        <div id="noteListPane">
            <virtual-scroll :items="searchedMemos" :item-size="50" v-slot="item">
                <div style="height:50px" draggable="true" @dragstart="dragStart(item.memo)">
                    <div @click.right="openContext($event, item.memo)" class="memobox"
                        :class="{selected : currentMemo==item.memo}" @click="change(item.memo)">
                        <div class="memoboxTitle clearfix">
                            <img class="conflictedIcon" alt="conflict" v-if="item.memo.conflictedToId"
                                src="../image/icoon-duplicate.svg">
                            <div v-html="getTitle(item.memo)"
                                :class="item.memo.conflictedToId ? 'width100-16-7' : 'width100'">
                            </div>
                        </div>
                        <div class="memoboxContent">
                            <span v-html="getContent(item.memo, 20)"> </span>
                        </div>
                    </div>
                    <div :id="'contextMenu'+item.memo.id" class="contextMenu" style="display:none"
                        @mouseleave="hideContentMenu(item.memo)">
                        <ol>
                            <li @click="openNewWindow(item.memo)">Open new window</li>
                            <li v-if="item.memo.conflictedToId" @click="markAsResolveConflict(item.memo)">Resolve
                                conflicted</li>
                            <hr />
                            <li @click="showDeleteModal(item.memo)">Delete</li>
                        </ol>
                    </div>
                </div>
            </virtual-scroll>
        </div>
    </div>
    <div id="editorPane">
        <div id="editorTools" class="clearfix">
            <i v-if="settings.saveToServer" class="material-icons" id="synceButton" :class="{syncing: syncing}"
                @click="synce()">autorenew</i>

            <i class="material-icons" id="newNoteButton" @click="newNote()">add</i> </div>
        <div id="editor" class="clearfix">
            <div :class="{full: !showMarkdown}">
                <markdown-editor id="content" ref="editor" mode="markdown" height="100%" :preview-style="markdownMode"
                    :options="toastOptions" v-model="currentMemo.content" @change="update(currentMemo)">
                </markdown-editor>
            </div>
        </div>
    </div>
</div>