<div id="settingPane">
    <div id="settingTitle" class="displayTitle">
        <span>Settings</span>
    </div>
    <div id="settingContent" style="margin-left:5px">
        <h2>Server Setting</h2>
        <div class="settingBlock">
            <div>
                <div id="saveToServerSwitch" class="switch">
                    <label>
                        Save to server
                        <input type="checkbox" v-model="saveToServer">
                        <span class="lever"></span>
                    </label>
                </div>
            </div>
            <div v-if="saveToServer" style="margin-top:5px">
                <div class="input-field">
                    <input id="urlInput" type="text" class="validate" v-model="url">
                    <label for="urlInput" :class="{active: url}">URL</label>
                </div>
                <div class="input-field">
                    <input id="emailInput" type="email" class="validate" v-model="mail">
                    <label for="emailInput" :class="{active: mail}">Email</label>
                </div>
            </div>
        </div>
        <div style="text-align: center" style="margin-top:20px">
            <button style="margin-left:20px" class="btn btn-flat" @click="$emit('onclose')">cancel</button>
            <button class="btn waves-effect waves-light" @click="save">save</button>
        </div>
    </div>